.pagination{
    display: flex;
    justify-content: center;
    align-items: center;
}
.pagination div {
    padding: 1rem;
}
.pagination div a{
    /* border: 1px solid #4183C4; */
    padding: 0.4rem;
}
.leftArrow, .righttArrow{
    font-size: 2.5rem;
    font-weight: bolder;
}
a{
    cursor: pointer;
}
.disabled{
    color: grey;
    pointer-events: none
}
.active{
    background-color: #4183C4;
    border-radius: 5rem;
}
.active a{
    color: white;
}