<div class="ui secondary pointing menu">
    <a routerLink="home"  routerLinkActive="active" class="item">Home</a>
    <div class="menus">
        <div *ngIf="loggedIn(); then showlogout else signuplogin"></div>
        <ng-template #signuplogin>
            <a routerLink="signup" routerLinkActive="active" class="item">Signup</a>
            <a routerLink="login"  routerLinkActive="active" class="item">Login</a>
        </ng-template>
        <ng-template #showlogout>
            <a routerLink="users" routerLinkActive="active" class="item" *ngIf="username === 'admin'">Users</a>
            <a routerLink="" class="item" (click)="logOut()">Logout</a>
        </ng-template>
    </div>
</div>