<app-header>Signup</app-header>
<div *ngIf="alertMessage" class="ui message" [ngClass]="status">
    <div class="content">
        <p>{{alertMessage}}</p>
        <i class="close icon" (click)="closeMessage()"></i>
    </div>
</div>
<form class="ui form" method="POST" #form="ngForm" (ngSubmit)="onClickSubmit(form)" ngNativeValidate>
    <div class="five wide field">
        <label>Username</label>
        <input type="text" name="username" placeholder="Username" required ngModel>
    </div>
    
    <div class="five wide field">
        <label>Password</label>
        <input type="password" name="password" placeholder="Password" (input)="inputPassword($event)" required ngModel>
    </div>

    <div class="five wide field" *ngIf="password">
        <label>Confirm Password</label>
        <input type="password" name="confirmpassword" placeholder="Confirm Password" (input)="confirmPassword($event)" required ngModel>
    </div>

    <button class="positive ui button" type="submit">Signup</button>
</form>