<app-header>Signup</app-header>
<div *ngIf="alertMessage" class="alert">
    <p [ngClass]="status">{{alertMessage}}</p>
</div>
<form class="ui form" method="POST" action="/signup" #form="ngForm" (ngSubmit)="onClickSubmit(form)">
    <div class="inline fields">
        <div class="five wide field">
            <label>Username</label>
            <input type="text" name="username" placeholder="Username" ngModel>
        </div>
    </div>

    <div class="inline fields">
        <div class="five wide field">
            <label>Password</label>
            <input type="password" name="password" placeholder="Password" (input)="inputPassword($event)" ngModel>
        </div>
        <div class="five wide field">
            <input type="password" name="confirmpassword" placeholder="Confirm Password" (input)="confirmPassword($event)" *ngIf="password" ngModel>
        </div>
    </div>

    <button class="ui button" type="submit">Signup</button>
</form>