.videos{
    display: grid;
    grid-template-columns: auto auto auto;
    row-gap: 2rem;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 2rem;
}
.container{
    padding-top: 2rem;
    padding-bottom: 2rem;
}
.card{
    margin: 0;
}
.pagination{
    display: flex;
    justify-content: center;
    align-items: center;
}
.pagination div{
    border: 1px solid #4183C4;
    padding: 0.5rem 1rem 0.5rem 1rem;
}
a{
    cursor: pointer;
}
.disabled{
    color: grey;
    pointer-events: none
}
.active{
    background-color: #4183C4;
}
.active a{
    color: white;
}