<div class="videos">
    <div class="ui card" *ngFor="let video of videos">

        <div class="image">
            <a class="ui blue ribbon label">{{video.type}}</a>
            <img [src]="video.image">
        </div>
        <div class="content">
            <a class="header">{{video.title}}</a>
            <div class="meta">
                <span class="date">{{video.channel}}</span>
            </div>
            <div class="description">
                {{video.description}}
            </div>
        </div>
        <div class="extra content">
            <button class="positive ui button">Play</button>
            <button class="ui blue button">Update</button>
            <button class="negative ui button" (click)="deleteVideo()">Delete</button>
        </div>
    </div>
</div>