<div *ngIf="checkLength(); then showVideos else dontShow"></div>
<ng-template #showVideos>
    <div class="container">
        <div class="videos">
            <ng-container *ngFor="let video of videos; let i=index">
                <div class="ui card" *ngIf="i>=start && i<=end">
                    <div class="image">
                        <a class="ui blue ribbon label" [ngClass]="video.type">{{video.type}}</a>
                        <img [src]="video.image || 'assets/images/placeholder-image.jpg'">
                    </div>
                    <div class="content">
                        <a class="header">{{video.title}}</a>
                        <div class="meta">
                            <span class="date">{{video.channel}}</span>
                        </div>
                        <div class="description">
                            {{video.description}}
                        </div>
                    </div>
                    <div class="extra content" *ngIf="username">
                        <button class="positive ui button" (click)="playVideo(video.id)">Play</button>
                        <button class="ui blue button" *ngIf="username === 'admin'" (click)="openModal(video.id)">Update</button>
                        <button class="negative ui button" *ngIf="username === 'admin'" (click)="deleteVideo(video.id)">Delete</button>
                    </div>
                </div>
            </ng-container>
        </div>
        <app-modal *ngIf="modal" (sender)="closeModal()" [videoId]="id"></app-modal>
        <app-play-video-modal *ngIf="videoPlayer" [videoId]="videoId" (sender)="closeVideo()"></app-play-video-modal>
        <app-pagination (sender)="setStartEnd($event)"></app-pagination>
    </div>
</ng-template>
<ng-template #dontShow>
    <p>No Videos Available</p>
</ng-template>
