<div *ngIf="checkLength(); then showVideos else dontShow"></div>
<ng-template #showVideos>
    <div class="videos">
        <div class="ui card" *ngFor="let video of videos">
    
            <div class="image">
                <a class="ui blue ribbon label" [ngClass]="video.type">{{video.type}}</a>
                <img [src]="video.image">
            </div>
            <div class="content">
                <a class="header">{{video.title}}</a>
                <div class="meta">
                    <span class="date">{{video.channel}}</span>
                </div>
                <div class="description">
                    {{video.description}}
                </div>
            </div>
            <div class="extra content">
                <button class="positive ui button">Play</button>
                <button class="ui blue button" *ngIf="username === 'admin'" (click)="openModal(video.type, video.id)">Update</button>
                <button class="negative ui button" *ngIf="username === 'admin'" (click)="deleteVideo(video.id)">Delete</button>
            </div>
        </div>
    </div>
    <app-modal *ngIf="modal" (sender)="closeModal()" [videoId]="id"></app-modal>
</ng-template>
<ng-template #dontShow>
    <p>No Videos Available</p>
</ng-template>
