.videos{
    /* display: grid;
    grid-template-columns: auto auto auto;
    row-gap: 2rem; */
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 2rem;
}
.container{
    padding-top: 2rem;
    padding-bottom: 2rem;
}
.card{
    margin: 0;
}