.videos{
    display: grid;
    grid-template-columns: auto auto auto;
    row-gap: 2rem;
    justify-content: space-around;
    align-items: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
}
.card{
    margin: 0;
}