<app-header>Add Video</app-header>
<div *ngIf="alertMessage" class="ui message" [ngClass]="status">
    <div class="content">
        <p>{{alertMessage}}</p>
        <i class="close icon" (click)="closeMessage()"></i>
    </div>
</div>
<form class="ui form" #form="ngForm" (ngSubmit)="onSubmit(form)" ngNativeValidate>
    <div class="six wide field">
        <label>Video URL</label>
        <input type="text" name="url" placeholder="Video URL" required ngModel>
    </div>
    <div class="six wide field">
        <label>Video Type</label>
        <input type="text" name="type" placeholder="Video Type" required ngModel>
    </div>

    <button class="positive ui button" type="submit">Add Video</button>
</form>