<html>
	<head>
		<title>Angular App</title>
	</head>
	<body>
		<div class="container">
			<div class="headerContainer">
				<h1 class="heading">{{title}}</h1>
			</div>
			<div class="bodyContainer">
				<div class="passwordLength">
					Enter Length  
					<input type="text" (input)="setLength($event)"/>
				</div>
				<div class="checkboxes">
					<div class="wantLetters">
						<input type="checkbox" (change)="wantLetters()"/>
						Use Letters 
					</div>
					<div class="wantNumbers">
						<input type="checkbox" (change)="wantNumbers()" />
						Use Numbers
					</div>
					<div class="wantSpecialChar">
						<input type="checkbox" (change)="wantSpecialChar()" />
						Use Special Characters
					</div>
					<div class="generate">
						<button 
							[disabled]="!(length && (includeLetters || includeNumbers || includeSpecial))" 
							(click)="generatePassword()">
							<p>Generate!!</p>
						</button>
					</div>
				</div>
				<div class="password" *ngIf="password">
					<b>Your Password</b>
					<input type="text" [value]="password" disabled/>
				</div>
			</div>
		</div>
	</body>
</html>